<div #base
     class="flex px-3 pt-4 pb-3 cursor-pointer gap-3"
     (click)="onNotificationClick.emit(notification)"
>
  @if (
    (notification | isLikeNotification) ||
    (notification | isFollowNotification) ||
    (notification | isRepostNotification) ||
    (notification | isStarterPackNotification)
  ) {
    <ng-container
      [ngTemplateOutlet]="template"
    />
  }
  @else {
    <span>Unknown notification</span>
  }
</div>

<ng-template #template
>
  <div
    class="w-12 shrink-0 flex justify-end"
  >
    @if (notification | isLikeNotification) {
      <i
        class="pi pi-heart !text-2xl"
      ></i>
    }
    @else if (notification | isFollowNotification) {
      <i
        class="pi pi-user-plus !text-2xl"
      ></i>
    }
    @else if (notification | isRepostNotification) {
      <i
        class="pi pi-arrow-right-arrow-left !text-2xl"
      ></i>
    }
    @else {
      <i
        class="pi pi-sitemap !text-2xl"
      ></i>
    }
  </div>

  <div
    class="flex flex-col min-w-0 grow gap-2"
  >
    <ng-container
      [ngTemplateOutlet]="authors"
    />

    <ng-container
      [ngTemplateOutlet]="label"
    />

    @if (notification.feedViewPost) {
      <ng-container
        [ngTemplateOutlet]="content"
        [ngTemplateOutletContext]="{
          record: notification.feedViewPost.post().record,
          embed: notification.feedViewPost.post().embed
        }"
      />
    }
  </div>
</ng-template>

<ng-template #authors
>
  <div
    class="flex gap-2"
  >
    @for (author of notification.authors | slice : 0: 5; track author.did) {
      <a
        (click)="openAuthor($event, author.did)"
        class="relative h-8 w-8"
      >
        <p-avatar
          [image]="author.avatar"
          class="overflow-hidden"
        />
      </a>
    }
    @if (notification.authors.length > 5) {
      <span
        class="h-8 w-8 flex items-center justify-center"
      >
        +{{notification.authors.length - 5}}
      </span>
    }
  </div>
</ng-template>

<ng-template #label
>
  <span
  >
    @switch (notification.authors.length) {
      @case (1) {
        <a
          (click)="openAuthor($event, notification.authors[0].did)"
          class="font-medium hover:underline"
        >{{notification.authors[0] | displayName}}</a>
      }
      @case (2) {
        <a
          (click)="openAuthor($event, notification.authors[0].did)"
          class="font-medium hover:underline"
        >{{notification.authors[0] | displayName}}</a>

        and

        <a
          (click)="openAuthor($event, notification.authors[1].did)"
          class="font-medium hover:underline"
        >{{notification.authors[1] | displayName}}</a>
      }
      @default {
        <a
          (click)="openAuthor($event, notification.authors[0].did)"
          class="font-medium hover:underline"
        >{{notification.authors[0] | displayName}}</a>

        and

        <a
          class="font-medium hover:underline"
          [href]=""
        >{{notification.authors.length - 1}} more</a>
      }
    }

    @if (notification | isLikeNotification) {
      liked your post
    }
    @else if (notification | isFollowNotification) {
      followed you
    }
    @else if (notification | isRepostNotification) {
      reposted your post
    }
    @else {
      added you to a starter pack
    }
  </span>
</ng-template>

<ng-template #content
  let-record="record"
  let-embed="embed"
>
  @if (
    (record | isFeedPostRecord) &&
    record.text.length
  ) {
    <span
      class="text-sm text-primary-400 whitespace-pre-line [overflow-wrap:break-word]"
    >
      {{record.text}}
    </span>
  }

  @if (embed | isEmbedImagesView) {
    <post-embed-images
      [embed]="embed"
      (onImgClick)="dialogService.openImagePost(embed.images, $event)"
      class="mt-2"
    />
  }

  @if (embed | isEmbedVideoView) {
    <post-embed-video
      [embed]="embed"
      (click)="$event.stopPropagation()"
      class="mt-2"
    />
  }
</ng-template>
