<div #base
  class="flex flex-col p-4 mb-2 msky-bg-dark-15 hover:msky-bg-dark-20"
>

  <div
    class="flex flex-col flex-1 min-w-0"
  >
    <ng-container
      [ngTemplateOutlet]="header"
      [ngTemplateOutletContext]="{author: feedViewPost.post().author}"
    />

    <ng-container
      [ngTemplateOutlet]="record"
      [ngTemplateOutletContext]="{record: feedViewPost.post().record}"
    />

    @if (feedViewPost.post().embed) {
      <ng-container
        [ngTemplateOutlet]="embed"
        [ngTemplateOutletContext]="{embed: feedViewPost.post().embed}"
      />
    }

    <ng-container
      [ngTemplateOutlet]="date"
      [ngTemplateOutletContext]="{post: feedViewPost.post()}"
    />

    @if (feedViewPost.post().likeCount || feedViewPost.post().repostCount || feedViewPost.post().quoteCount) {
      <ng-container
        [ngTemplateOutlet]="interactions"
        [ngTemplateOutletContext]="{post: feedViewPost.post()}"
      />
    }

    <ng-container
      [ngTemplateOutlet]="buttons"
      [ngTemplateOutletContext]="{post: feedViewPost.post()}"
    />
  </div>
</div>


<ng-template #header
  let-author="author"
>
  <div
    class="flex w-full gap-4"
  >
    <div
      class="w-14 h-14 shrink-0"
    >
      <a #avatar
         [href]="'https://bsky.app/profile/' + feedViewPost.post().author.handle"
         (click)="openAuthor($event)"
      >
        <img
          [ngSrc]="feedViewPost.post().author.avatar"
          alt="{{feedViewPost.post().author | displayName}}'s avatar"
          width="56"
          height="56"
          placeholder="default_pfp.jpg"
          [placeholderConfig]="{blur: false}"
        />
      </a>
    </div>

    <div #displayName
         class="flex flex-col w-fit max-w-full min-w-0 justify-center"
    >
      @if (author.displayName?.trim().length) {
        <a
          [href]="'https://bsky.app/profile/' + author.handle"
          (click)="openAuthor($event)"
          class="msky-text-body text-[20px] font-semibold fit-text [text-box: trim-both] shrink-1 hover:underline"
        >
          {{ author.displayName }}
        </a>
        <a
          [href]="'https://bsky.app/profile/' + author.handle"
          (click)="openAuthor($event)"
          class="msky-text-caption text-[14px] fit-text w-fit shrink-1"
        >
          {{ '@' + author.handle }}
        </a>
      } @else {
        <a
          [href]="'https://bsky.app/profile/' + author.handle"
          (click)="openAuthor($event)"
          class="msky-text-body text-[20px] font-semibold fit-text shrink-1 hover:underline"
        >
          {{ '@' + author.handle }}
        </a>
      }
    </div>
  </div>
</ng-template>

<ng-template #record
  let-record="record"
>
  @if ((record | isFeedPostRecord) && record.text.length) {
    <div #body
         class="mt-4"
    >
      <rich-text
        [text]="record.text"
        [facets]="record.facets"
        class="msky-text-body text-[1rem] cursor-auto"
      />
    </div>
  }
</ng-template>

<ng-template #embed
  let-embed="embed"
>
  <div #content
       id="content"
       class="mt-4 flex flex-col"
  >
    @if (embed | isEmbedImagesView) {
      <post-embed-images
        [embed]="embed"
        (onImgClick)="openImage(feedViewPost.post().uri, $event)"
      />
    }

    @if (embed | isEmbedVideoView) {
      <post-embed-video
        [embed]="embed"
      />
    }

    @if (embed | isEmbedExternalView) {
      <post-embed-external
        [embed]="embed"
      />
    }

    @if (embed | isEmbedRecordView) {
      <post-embed-record
        [embed]="embed"
        (onEmbedClick)="onEmbedClick.emit($event)"
        (onImgClick)="openImage($event.uri, $event.index)"
      />
    }

    @if (embed | isEmbedRecordWithMediaView) {
      @if (embed.media | isEmbedImagesView) {
        <post-embed-images
          [embed]="embed.media"
          (onImgClick)="openImage(feedViewPost.post().uri, $event)"
        />
      }

      @if (embed.media | isEmbedVideoView) {
        <post-embed-video
          [embed]="embed.media"
        />
      }

      @if (embed.media | isEmbedExternalView) {
        <post-embed-external
          [embed]="embed.media"
        />
      }

      <post-embed-record
        [embed]="embed.record"
        (onEmbedClick)="onEmbedClick.emit($event)"
        (onImgClick)="openImage($event.uri, $event.index)"
        class="block mt-4"
      />
    }
  </div>
</ng-template>

<ng-template #date
  let-post="post"
>
  <a
    [href]="post.uri | linkExtractor: post.author.handle"
    target="_blank"
    [title]="$any(post.record).createdAt | date: 'medium'"
    class="msky-text-caption text-[14px] w-fit hover:underline mt-4"
    (click)="$event.stopPropagation()"
  >
    {{ $any(post.record).createdAt | date: 'medium' }}
  </a>
</ng-template>

<ng-template #interactions
  let-post="post"
>
  <div
    class="flex mt-4 gap-4"
  >
    @if (post.likeCount) {
      <a
        class="msky-text-body font-light text-[1rem] hover:underline"
        (click)="$event.stopPropagation()"
      >
        {{ post.likeCount + ' likes' }}
      </a>
    }

    @if (post.repostCount) {
      <a
        class="text-[1rem] font-light msky-text-lightwhite hover:underline"
        (click)="$event.stopPropagation()"
      >
        {{ post.repostCount + ' reposts' }}
      </a>
    }

    @if (post.quoteCount) {
      <a
        class="msky-text-body font-light text-[1rem] hover:underline"
        (click)="$event.stopPropagation()"
      >
        {{ post.quoteCount + ' quotes' }}
      </a>
    }
  </div>
</ng-template>

<ng-template #buttons
  let-post="post"
>
  <div #buttons
       class="w-[calc(100%+2rem)] mt-2 -mb-4 -ml-4 flex"
  >
    <div
      class="flex flex-1 items-center"
    >
      <button
        class="relative flex gap-2 items-center p-4 hover:msky-bg-dark-15"
        (click)="replyPost(post, $event)"
      >
        <ng-icon
          name="tablerMessage"
          class="text-[1.25rem]"
        />
        @if (post.replyCount) {
          <span
            class="msky-text-body text-[1rem] leading-none"
          >
          {{ post.replyCount | numberFormatter }}
        </span>
        }
      </button>
    </div>

    <div
      class="flex flex-1 items-center gap-1"
    >
      <button
        class="relative flex gap-2 items-center p-4 hover:msky-bg-dark-15"
        [class.msky-bg-dark-15]="repostMenu.visible"
        (click)="openRepostMenu(repostMenu, $event)"
      >
        <ng-icon
          name="tablerRepeat"
          class="text-[1.25rem]"
          [color]="post.viewer.repost ? 'var(--green-rt)' : undefined"
        />
        <ng-icon #rtAnim
          name="tablerRepeat"
          [color]="post.viewer.repost ? 'var(--green-rt)' : undefined"
          class="absolute text-[1.25rem] opacity-0"
        />

        @if (post.repostCount) {
          <span
            class="msky-text-body text-[1rem] leading-none"
          >
            {{ post.repostCount | numberFormatter }}
          </span>
        }
      </button>
      <p-menu
        #repostMenu popup
        [model]="repostMenuItems"
        appendTo="body"
        class="msky-text-body block"
      />
    </div>

    <div
      class="flex flex-1 items-center gap-2"
    >
      <button
        class="relative flex gap-2 items-center p-4 hover:msky-bg-dark-15"
        (click)="post.viewer.like ? deleteLike($event) : like($event)"
        [disabled]="processingAction"
      >
        <ng-icon
          [name]="post.viewer.like ? 'tablerHeartFill' : 'tablerHeart'"
          [color]="post.viewer.like ? 'var(--red-like)' : undefined"
          class="text-[1.25rem]"
        />
        <ng-icon #likeAnim
                 [name]="post.viewer.like ? 'tablerHeartFill' : 'tablerHeart'"
                 [color]="post.viewer.like ? 'var(--red-like)' : undefined"
                 class="absolute text-[1.25rem] opacity-0"
        />

        @if (post.likeCount) {
          <span
            class="msky-text-body text-[1rem]  leading-none"
          >
            {{ post.likeCount | numberFormatter }}
          </span>
        }
      </button>
    </div>

    <div
      class="flex-0"
    >
      <button
        class="relative flex gap-2 items-center p-4 hover:msky-bg-dark-15"
        [class.msky-bg-dark-15]="moreMenu.visible"
        (click)="moreMenu.toggle($event); $event.stopPropagation()"
      >
        <ng-icon
          name="tablerDots"
          class="text-[1.25rem]"
        />
      </button>
      <p-menu
        #moreMenu popup
        [model]="moreMenuItems"
        appendTo="body"
        class="msky-text-body block"
      />
    </div>
  </div>
</ng-template>
