<div #feed
  class="w-full h-full min-h-0 flex flex-col overflow-y-auto has-[p-dynamicdialog]:!overflow-hidden"
  vScroll
  (scrollEnding)="nextData(); manageRefresh();"
  (scrollTop)="manageRefresh();"
>
  @if (posts) {
    @for (post of posts; track post.uuid) {
      <feed-post-card
        [feedViewPost]="post"
        (onPostClick)="openPost($event.post().uri)"
        (onEmbedClick)="openPost($any($event.record).uri)"
        class="cursor-pointer hover:bg-white/2"
      />
      <p-divider
        class="!mt-0 !mb-0"
      />
    }
  } @else {
    <div
      class="h-full w-full flex items-center justify-center"
    >
      <p-progress-spinner
        class="h-12"
        strokeWidth="5"
        [style]="{height: '3rem', width: '3rem'}"
      />
    </div>
  }
</div>
