<div
  class="h-full flex flex-col [&:not(:last-child)]:!hidden"
>
  <div
    class="h-12 w-full flex items-center px-2 gap-2 shrink-0 cursor-pointer hover:underline decoration-1"
    (click)="ref.close();"
  >
    <button
      class="flex"
    >
      <ng-icon
        name="tablerChevronLeft"
        class="text-[2rem]"
      />
    </button>
    <span
      class="msky-text-subheader text-[1.5rem]"
    >
      thread view
    </span>
  </div>

  @if (post) {
    <div #scroll
         class="relative flex flex-col flex-1 min-h-0 overflow-y-auto"
    >
      <div
        class="flex flex-col max-w-[90%]"
      >
        @for (parent of parents; track parent.uuid) {
          @if ((parent | isFeedDefsNotFoundPost) || (parent | isFeedDefsBlockedPost)) {
            <ng-container
              [ngTemplateOutlet]="notPostViewTemplate"
              [ngTemplateOutletContext]="{post: parent}"
            />
          }
          @else {
            <feed-post-card
              [feedViewPost]="parent"
              (onPostClick)="openPost(parent.post().uri)"
              (onEmbedClick)="openPost($any($event.record).uri)"
              class="cursor-pointer"
            />
          }
        }
      </div>

      <feed-post-card-detail #main
        [feedViewPost]="post"
        (onEmbedClick)="openPost($any($event.record).uri)"
      />

      <div
        class="flex flex-col w-[95%] self-end"
      >
        @for (reply of replies; track reply.uuid) {
          <ng-container
            [ngTemplateOutlet]="threadReplyTemplate"
            [ngTemplateOutletContext]="{threadReply: reply}"
          />
        }
      </div>
    </div>
  } @else {
    <div
      class="w-full h-full flex justify-center items-center"
    >
      <ng-icon
        name="tablerLoader2"
        color="rgba(207, 255, 255, 0.9)"
        class="text-[5rem] animate-spin"
      />
    </div>
  }
</div>

<ng-template #threadReplyTemplate
  let-threadReply="threadReply"
>
  @if (threadReply.post) {
    <feed-post-card
      [feedViewPost]="threadReply.post"
      (onPostClick)="openPost($event.post().uri)"
      (onEmbedClick)="openPost($any($event.record).uri)"
      class="w-full cursor-pointer"
    />
  }
  @if (threadReply.replies && threadReply.replies.length) {
    <div
      class="flex w-full"
    >
      <div
        class="h-full w-[2px] msky-bg-dark-15 !bg-clip-content -mt-2 mr-3 shrink-0 rounded-sm"
      ></div>
      <div
        class="flex flex-col w-full items-end min-w-0"
      >
        @for (reply of threadReply.replies; track reply.uuid) {
          <ng-container
            [ngTemplateOutlet]="threadReplyTemplate"
            [ngTemplateOutletContext]="{threadReply: reply}"
          />
        }
      </div>
    </div>
  }
</ng-template>

<ng-template #notPostViewTemplate
  let-post="post"
>
  <div
    class="flex flex-col p-3 mb-2 cursor-default msky-bg-dark-15 hover:msky-bg-dark-20"
  >
    @if (post | isFeedDefsNotFoundPost) {
      Post not found
    }
    @else if (post | isFeedDefsBlockedPost) {
      Blocked post
    }
  </div>
</ng-template>
