@if (snippet.type == LinkSnippetType) {
  <a
    [href]="embed.external.uri"
    (click)="$event.stopPropagation()"
  >
    <div
      class="flex flex-col msky-bg-dark-15 hover:msky-bg-dark-20"
    >
      @if (embed.external.thumb) {
        <img
          [src]="embed.external.thumb"
          [alt]="'thumb'"
          class="aspect-video object-cover"
        />
      }
      <div
        class="px-4 py-2"
      >
      <span
        class="block msky-text-caption font-semibold line-clamp-2"
      >
        {{embed.external.title}}
      </span>
        <span
          class="block msky-text-caption text-[0.7rem]"
        >
        {{snippet.domain}}
      </span>
      </div>
    </div>
  </a>
}

@if (snippet.type == BlueskyGifSnippetType) {
  <video
    #target
    class="video-js vjs-show-big-play-button-on-pause"
    (click)="$event.stopPropagation()"
  ></video>
}

@if (snippet.type == IframeSnippetType) {
  @if (snippet.source == YoutubeSnippetSource) {
    <youtube-player
      [videoId]="snippet.url"
      class="aspect-video"
      (click)="$event.stopPropagation()"
    />
  } @else {
    <iframe
      [src]="safeURL"
      width="100%"
      allow="fullscreen"
      class="aspect-video"
      (click)="$event.stopPropagation()"
    ></iframe>
  }
}
