<div #base
     id="base"
     class="flex p-4 mb-2 cursor-pointer gap-2 msky-bg-dark-20 hover:msky-bg-dark-25"
     (click)="onNotificationClick.emit(notification)"
>
  @if (
    (notification | isLikeNotification) ||
    (notification | isFollowNotification) ||
    (notification | isRepostNotification) ||
    (notification | isStarterPackNotification)
  ) {
    <ng-container
      [ngTemplateOutlet]="template"
    />
  }
  @else {
    <span>Unknown notification</span>
  }
</div>

<ng-template #template
>
  <div
    class="w-14 shrink-0 flex justify-end"
  >
    @if (notification | isLikeNotification) {
      <ng-icon name="tablerHeart" class="text-[2rem]"/>
    }
    @else if (notification | isFollowNotification) {
      <ng-icon name="tablerUserPlus" class="text-[2rem]"/>
    }
    @else if (notification | isRepostNotification) {
      <ng-icon name="tablerRepeat" class="text-[2rem]"/>
    }
    @else {
      <ng-icon name="tablerCircleSquare" class="text-[2rem]]"/>
    }
  </div>

  <div
    class="flex flex-col min-w-0 grow gap-2"
  >
    <ng-container
      [ngTemplateOutlet]="authors"
    />

    <ng-container
      [ngTemplateOutlet]="label"
    />

    @if (notification.feedViewPost) {
      <ng-container
        [ngTemplateOutlet]="content"
        [ngTemplateOutletContext]="{
          record: notification.feedViewPost.post().record,
          embed: notification.feedViewPost.post().embed
        }"
      />
    }

    @if (notification | isStarterPackNotification) {
      <!--TODO: Add starter pack embed-->
    }
  </div>
</ng-template>

<ng-template #authors
>
  <div
    class="flex gap-2"
  >
    @for (author of notification.authors | slice : 0: 5; track author.did) {
      <a>
        <img
          [src]="author.avatar"
          alt="{{author | displayName}}'s avatar"
          class="h-8"
        >
      </a>
    }
    @if (notification.authors.length > 5) {
      <span
      >
        +{{notification.authors.length - 5}}
      </span>
    }
  </div>
</ng-template>

<ng-template #label
>
  <span
    class="msky-text-body"
  >
    @switch (notification.authors.length) {
      @case (1) {
        <a
          class="font-bold hover:underline"
          [href]=""
        >
          {{notification.authors[0] | displayName}}
        </a>
      }
      @case (2) {
        <a
          class="font-bold hover:underline"
          [href]=""
        >
          {{notification.authors[0] | displayName}}
        </a>

        and

        <a
          class="font-bold hover:underline"
          [href]=""
        >
          {{notification.authors[1] | displayName}}
        </a>
      }
      @default {
        <a
          class="font-bold hover:underline"
          [href]=""
        >
          {{notification.authors[0] | displayName}}
        </a>

        and

        <a
          class="font-bold hover:underline"
          [href]=""
        >
          {{notification.authors.length - 1}} more
        </a>
      }
    }

    @if (notification | isLikeNotification) {
      liked your post
    }
    @else if (notification | isFollowNotification) {
      followed you
    }
    @else if (notification | isRepostNotification) {
      reposted your post
    }
    @else {
      added you to a starter pack
    }
  </span>
</ng-template>

<ng-template #content
  let-record="record"
  let-embed="embed"
>
  @if (
    (record | isFeedPostRecord) &&
    record.text.length
  ) {
    <span
      class="msky-text-caption whitespace-pre-line"
    >
      {{record.text}}
    </span>
  }

  @if (embed | isEmbedImagesView) {
    <post-embed-images
      [embed]="embed"
      class="mt-2"
    />
  }

  @if (embed | isEmbedVideoView) {
    <post-embed-video
      [embed]="embed"
      class="mt-2"
    />
  }
</ng-template>
