:host(::ng-deep youtube-player) {
  display: flex;

  youtube-player-placeholder {
    width: 100% !important;
    height: unset !important;
  }

  > div {
    width: 100%;

    iframe {
      height: unset;
      width: 100%;
      aspect-ratio: 16/9;
    }
  }
}
