:host {
  --p-toast-detail-font-weight: 400;
}

::ng-deep p-tooltip {
  font-size: 14px;
}

::ng-deep .video-js {
  .vjs-control-bar {
    background: linear-gradient(to top, rgba(43,51,63,0.7), transparent);
  }

  > .vjs-remaining-time {
    height: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.75rem;
    font-family: 'Open Sans', sans-serif;
    opacity: 0;
  }

  &.vjs-user-inactive .vjs-remaining-time {
    height: 2rem;
    opacity: 1;
    transition: 1.5s opacity ease;
  }
}
