<span
  class="whitespace-pre-line block leading-snug"
>
  @for (segment of segments; track $index) {
    @if (segment.isLink()) {
      <a
        [href]="segment.link?.uri"
        target="_blank"
        class="hover:underline msky-text-link"
        (click)="$event.stopPropagation()"
      >
        {{segment.text}}
      </a>
    } @else if (segment.isMention()) {
      <a
        href="https://bsky.app/profile/{{segment.mention?.did}}"
        class="hover:underline msky-text-link"
        (click)="$event.stopPropagation(); $event.preventDefault()"
      >
        {{segment.text}}
      </a>
    } @else if (segment.isTag()) {
      <a
        href="https://bsky.app/hashtag/{{segment.tag?.tag}}"
        class="hover:underline msky-text-link"
        (click)="$event.stopPropagation(); $event.preventDefault()"
      >
        {{segment.text}}
      </a>
    } @else {
      <span class="break-words">
        {{segment.text}}
      </span>
    }
  }
</span>
