<div
  class="flex h-full w-full min-h-0 min-w-0 deck-bg"
  ng2FileDrop
  (onFileDrop)="postService.attachMedia($event)"
>
  <sidebar
    (onActionProfile)="dialogService.openAuthor($event)"
    (onActionPost)="postService.createPost()"
  />

  <div
    class="relative flex-1 overflow-hidden"
  >
    <div
      class="relative flex w-full h-full max-h-full min-h-0 py-4 px-8 gap-6 overflow-x-auto"
    >
      @for (column of columns(); track column.uuid) {
        @if (column | isDeckColumnTimeline) {
          <timeline-deck-column
            [column]="column"
            (columnChange)="onColumnChange($event)"
            (reorder)="reorder($event.previousIndex, $event.newIndex)"
            (delete)="onDeleteColumn(column.uuid)"
            [lastIndex]="column.index == columns().length - 1"
            class="shrink-0"
            [style]="{width: column.width+'px', order: column.index}"
          />
        }
        @else if (column | isDeckColumnNotifications) {
          <notifications-deck-column
            [column]="column"
            (columnChange)="onColumnChange($event)"
            (reorder)="reorder($event.previousIndex, $event.newIndex)"
            (delete)="onDeleteColumn(column.uuid)"
            [lastIndex]="column.index == columns().length - 1"
            class="shrink-0"
            [style]="{width: column.width+'px', order: column.index}"
          />
        }
        @else if (column | isDeckColumnAuthor) {
          <author-deck-column
            [column]="column"
            (columnChange)="onColumnChange($event)"
            (reorder)="reorder($event.previousIndex, $event.newIndex)"
            (delete)="onDeleteColumn(column.uuid)"
            [lastIndex]="column.index == columns().length - 1"
            class="shrink-0"
            [style]="{width: column.width+'px', order: column.index}"
          />
        }
        @else if (column | isDeckColumnSearch) {

        }
        @else if (column | isDeckColumnList) {

        }
      }
      <div
        class="h-full w-60 flex shrink-0 items-center justify-center order-last"
      >
        <button
          class="flex flex-col items-center justify-center gap-2 p-3 opacity-25"
          disabled
        >
          <ng-icon
            name="tablerColumnInsertRight"
            class="text-[4rem]"
          />
          <span>Add column</span>
          <span class="text-[14px] font-light">(not yet)</span>
        </button>
      </div>
    </div>
  </div>
</div>

<p-drawer
  [visible]="postService.postCompose() !== undefined"
  [modal]="false"
  position="bottom"
  styleClass="!border-none !bg-[#002047] !h-auto"
  transitionOptions="0.15s ease-out"
>
  <ng-template #headless>
    <post-composer
      class="h-full"
      ng2FileDrop
      (onFileDrop)="postService.attachMedia($event)"
    />
  </ng-template>
</p-drawer>
