<div class="flex h-full w-full min-h-0 min-w-0 darken-bg">
  <sidebar
    (onActionPost)="postService.createPost()"
  />

  <div class="flex w-full h-full min-h-0 py-5 px-10 gap-8">
    <div class="flex flex-col">
      <div
        class="h-12 shrink-0 msky-text-header leading-[100%]"
      >
        timeline
      </div>
      <post-feed
        [triggerRefresh]="refreshFeeds"
        class="w-[28rem] flex-1 min-h-0"
      />
    </div>
    <div class="flex flex-col">
      <div
        class="h-12 shrink-0 msky-text-header leading-[100%]"
      >
        notifications
      </div>
      <notification-feed class="w-[28rem] flex-1 min-h-0"/>
    </div>
  </div>
</div>

<p-drawer
  [visible]="newPost() !== undefined"
  [modal]="false"
  position="bottom"
  styleClass="!border-none !bg-[#002047] !h-auto"
  transitionOptions="0.15s ease-out"
>
  <ng-template #headless>
    <ng-icon
      name="tablerX"
      class="absolute top-2 right-2 cursor-pointer text-[2rem]"
      (click)="newPost.set(undefined)"
    />
    <post-composer
      class="h-full"
      [loading]="creatingPost"
      (onCreatePost)="post($event)"
    />
  </ng-template>
</p-drawer>
