<div
  class="flex flex-col w-20 h-full shrink-0 bg-[#002047] hover:w-80 transition-width ease-out duration-300 overflow-hidden justify-around"
>
  <div #topButton
    class="flex shrink-0 select-none cursor-pointer hover:msky-bg-light-20"
    (click)="onActionProfile.emit(loggedUser.did)"
  >
    <a
      class="flex-shrink-0"
    >
      <img
        [ngSrc]="loggedUser.avatar"
        alt="Your avatar"
        width="80"
        height="80"
        placeholder="default_pfp.jpg"
        [placeholderConfig]="{blur: false}"
      />
    </a>

    <div
      class="flex flex-col shrink-0 h-full justify-center px-4 max-w-full min-w-0 flex-1"
    >
      <span
        class="msky-text-subheader !msky-text-white whitespace-nowrap overflow-hidden text-ellipsis [text-box-trim: trim-both]"
      >
        {{ loggedUser?.displayName ?? '@'+loggedUser?.handle }}
      </span>

      @if (loggedUser?.displayName) {
        <span
          class="msky-text-caption text-[14px] !msky-text-darkwhite whitespace-nowrap overflow-hidden text-ellipsis"
        >
          {{ '@'+loggedUser?.handle }}
        </span>
      }
    </div>
  </div>
  <div #arrayButtons
       class="flex flex-col flex-1 justify-center select-none"
  >
    <ng-container
      [ngTemplateOutlet]="button"
      [ngTemplateOutletContext]="{title: 'profile', icon: 'tablerUser', action: onActionProfile, did: loggedUser.did}"
    />
    <ng-container
      [ngTemplateOutlet]="button"
      [ngTemplateOutletContext]="{title: 'search', icon: 'tablerSearch', action: onActionSearch}"
    />
    <ng-container
      [ngTemplateOutlet]="button"
      [ngTemplateOutletContext]="{title: 'lists', icon: 'tablerList', action: onActionLists}"
    />
    <ng-container
      [ngTemplateOutlet]="button"
      [ngTemplateOutletContext]="{title: 'feeds', icon: 'tablerHash', action: onActionFeeds}"
    />
    <ng-container
      [ngTemplateOutlet]="button"
      [ngTemplateOutletContext]="{title: 'settings', icon: 'tablerSettings', action: onActionSettings}"
    />
  </div>
  <div #bottomButton
       class="mt-auto"
  >
    <ng-container
      [ngTemplateOutlet]="button"
      [ngTemplateOutletContext]="{title: 'post', icon: 'tablerMessage', action: onActionPost}"
    />
  </div>
</div>

<ng-template #button
  let-title="title"
  let-icon="icon"
  let-action="action"
  let-did="did"
>
  <a
    class="flex shrink-0 items-center h-20 hover:msky-bg-light-20 cursor-pointer"
    pRipple
    (click)="did ? action.emit(did) : action.emit()"
  >
    <div
      class="flex justify-center w-20 shrink-0"
    >
      <ng-icon
        [name]="icon"
        class="text-[2.5rem] !msky-text-white"
      />
    </div>
    <span
      class="msky-text-subheader !msky-text-white"
    >
      {{title}}
    </span>
  </a>
</ng-template>
