<div
  class="flex flex-col w-20 h-full shrink-0 bg-[#002047] hover:w-80 transition-width ease-out duration-300 overflow-hidden justify-around"
>
  <div #topButton
    class="flex shrink-0 select-none cursor-pointer hover:msky-bg-light-20"
  >
    <a
      class="flex-shrink-0"
    >
      <img
        [src]="loggedUser.avatar ?? 'icon.webp'"
        alt="Your avatar"
        class="w-20 h-20"
      />
    </a>

    <div
      class="flex flex-col shrink-0 h-full justify-center px-4 max-w-full min-w-0 flex-1"
    >
      <span
        class="msky-text-subheader !msky-text-white whitespace-nowrap overflow-hidden text-ellipsis [text-box-trim: trim-both]"
      >
        {{ loggedUser?.displayName ?? '@'+loggedUser?.handle }}
      </span>

      @if (loggedUser?.displayName) {
        <span
          class="msky-text-caption text-[14px] !msky-text-darkwhite whitespace-nowrap overflow-hidden text-ellipsis"
        >
          {{ '@'+loggedUser?.handle }}
        </span>
      }
    </div>
  </div>
  <div #arrayButtons
       class="flex flex-col flex-1 justify-center select-none"
  >
    <ng-container
      [ngTemplateOutlet]="button"
      [ngTemplateOutletContext]="{title: 'profile', icon: 'tablerUser'}"
    />
    <ng-container
      [ngTemplateOutlet]="button"
      [ngTemplateOutletContext]="{title: 'search', icon: 'tablerSearch'}"
    />
    <ng-container
      [ngTemplateOutlet]="button"
      [ngTemplateOutletContext]="{title: 'lists', icon: 'tablerList'}"
    />
    <ng-container
      [ngTemplateOutlet]="button"
      [ngTemplateOutletContext]="{title: 'feeds', icon: 'tablerHash'}"
    />
    <ng-container
      [ngTemplateOutlet]="button"
      [ngTemplateOutletContext]="{title: 'settings', icon: 'tablerSettings'}"
    />
  </div>
  <div #bottomButton
       class="mt-auto"
  >
    <ng-container
      [ngTemplateOutlet]="button"
      [ngTemplateOutletContext]="{title: 'post', icon: 'tablerMessage', action: onActionPost}"
    />
  </div>
</div>

<ng-template #button
  let-title="title"
  let-icon="icon"
  let-action="action"
>
  <a
    class="flex shrink-0 items-center h-20 hover:msky-bg-light-20 cursor-pointer"
    pRipple
    (click)="action.emit()"
  >
    <div
      class="flex justify-center w-20 shrink-0"
    >
      <ng-icon
        [name]="icon"
        class="text-[2.5rem] !msky-text-white"
      />
    </div>
    <span
      class="msky-text-subheader !msky-text-white"
    >
      {{title}}
    </span>
  </a>
</ng-template>
