<div #base
  class="flex flex-col p-4 mb-2 cursor-pointer msky-bg-dark-20 hover:msky-bg-dark-25"
  (click)="openPost($event)"
>
  @if (feedViewPost.reason) {
    <ng-container
      [ngTemplateOutlet]="reason"
      [ngTemplateOutletContext]="{reason: feedViewPost.reason}"
    />
  }
  @if (feedViewPost.reply) {
    <ng-container
      [ngTemplateOutlet]="reply"
      [ngTemplateOutletContext]="{reply: feedViewPost.reply}"
    />
  }

  <div
    class="flex w-full gap-3"
  >
    <div
      class="w-14 shrink-0"
    >
      <a #avatar
         [href]="'https://bsky.app/profile/' + feedViewPost.post().author.handle"
         (click)="openAuthor($event)"
      >
        <img
          [src]="feedViewPost.post().author.avatar"
          alt="{{feedViewPost.post().author | displayName}}'s avatar"
        />
      </a>
    </div>

    <div
      class="flex flex-col flex-1 min-w-0"
    >
      <ng-container
        [ngTemplateOutlet]="header"
        [ngTemplateOutletContext]="{author: feedViewPost.post().author}"
      />

      <ng-container
        [ngTemplateOutlet]="record"
        [ngTemplateOutletContext]="{record: feedViewPost.post().record}"
      />

      @if (feedViewPost.post().embed) {
        <ng-container
          [ngTemplateOutlet]="embed"
          [ngTemplateOutletContext]="{embed: feedViewPost.post().embed}"
        />
      }

      <ng-container
        [ngTemplateOutlet]="buttons"
        [ngTemplateOutletContext]="{post: feedViewPost.post()}"
      />
    </div>

  </div>


</div>

<ng-template #reason
  let-reason="reason"
>
  <div
    class="flex items-center gap-3 mb-2 -mt-2 ml-11"
  >
    @if (reason | isFeedDefsReasonRepost) {
        <ng-icon
          name="tablerRepeat"
          class="text-[0.75rem]"
        />
        <span
          class="msky-text-caption fit-text"
        >
          Reposted by

          <a
            class="hover:underline font-semibold"
            [href]="'https://bsky.app/profile/' + reason.by.handle"
            (click)="openAuthor($event)"
          >
            {{ reason.by | displayName }}
          </a>
        </span>
    }
    @else if (reason | isFeedDefsReasonPin) {
      <ng-icon
        name="tablerPin"
        class="text-[0.75rem]"
      />
      <span
        class="msky-text-caption"
      >
        Pinned post
      </span>
    }
  </div>
</ng-template>

<ng-template #reply
  let-reply="reply"
>
  <div
    class="flex items-center gap-3 mb-2 -mt-2 ml-11"
  >
    <ng-icon
      name="tablerArrowForward"
      class="text-[0.75rem]"
    />
    <span
      class="msky-text-caption fit-text"
    >
      @if (reply.parent | isFeedDefsNotFoundPost) {
        Replying to someone (not found)
      }
      @else if (reply.parent | isFeedDefsBlockedPost) {
        Replying to someone (blocked)
      }
      @else if (reply.parent | isFeedDefsPostView) {
        Replying to

        <a
          class="hover:underline font-semibold"
          [href]="'https://bsky.app/profile/' + reply.parent.author.handle"
          (click)="openAuthor($event)"
        >
          {{ reply.parent.author | displayName }}
        </a>
      }
    </span>
  </div>
</ng-template>

<ng-template #header
  let-author="author"
>
  <div #displayName
       class="flex w-fit max-w-full min-w-0  items-baseline hover:underline gap-2"
  >
    @if (author.displayName.trim().length) {
      <a
        [href]="'https://bsky.app/profile/' + author.handle"
        (click)="openAuthor($event)"
        class="font-semibold fit-text shrink-1 grow-0 leading-none h-full"
      >
        {{ author.displayName }}
      </a>
      <a
        [href]="'https://bsky.app/profile/' + author.handle"
        (click)="openAuthor($event)"
        class="msky-text-caption fit-text shrink-0 grow basis-0 min-w-0"
      >
        {{ '@' + author.handle }}
      </a>
    } @else {
      <a
        [href]="'https://bsky.app/profile/' + author.handle"
        (click)="openAuthor($event)"
        class="font-semibold"
      >
        {{ '@' + author.handle }}
      </a>
    }
  </div>
</ng-template>

<ng-template #record
  let-record="record"
>
  @if ((record | isFeedPostRecord) && record.text.length) {
    <div #body
         class="mt-2"
    >
      <rich-text-display
        [text]="record.text"
        [facets]="record.facets"
        class="msky-text-body"
      />
    </div>
  }
</ng-template>

<ng-template #embed
  let-embed="embed"
>
  <div #content
       id="content"
       class="mt-4 flex flex-col"
  >
    @if (embed | isEmbedImagesView) {
      <post-embed-images
        [embed]="embed"
        (onImgClick)="openDialog($event)"
      />
    }

    @if (embed | isEmbedVideoView) {
      <post-embed-video
        [embed]="embed"
      />
    }

    @if (embed | isEmbedExternalView) {
      <post-embed-external
        [embed]="embed"
      />
    }

    @if (embed | isEmbedRecordView) {
      <post-embed-record
        [embed]="embed"
      />
    }

    @if (embed | isEmbedRecordWithMediaView) {
      @if (embed.media | isEmbedImagesView) {
        <post-embed-images
          [embed]="embed.media"
          (onImgClick)="openDialog($event)"
        />
      }

      @if (embed.media | isEmbedVideoView) {
        <post-embed-video
          [embed]="embed.media"
        />
      }

      @if (embed.media | isEmbedExternalView) {
        <post-embed-external
          [embed]="embed.media"
        />
      }

      <post-embed-record
        [embed]="embed.record"
        class="block mt-4"
      />
    }
  </div>
</ng-template>

<ng-template #buttons
  let-post="post"
>
  <div #buttons
       class="w-full mt-4 flex justify-between items-center buttons"
  >
    <div
      class="flex flex-1 h-4"
    >
      <div
        class="flex flex-1 max-w-[4.5rem] items-center gap-1"
      >
        <ng-icon
          name="tablerMessage"
          (click)="replyPost(post, $event)"
        />
        @if (post.replyCount) {
          <span
            class="msky-text-caption leading-none"
          >
            {{ post.replyCount | numberFormatter }}
          </span>
        }
      </div>
      <div
        class="flex flex-1 max-w-[4.5rem] items-center gap-1"
      >
        <ng-icon
          name="tablerRepeat"
          [color]="post.viewer.repost ? 'green' : undefined"
          (click)="openRepostMenu(repostMenu, $event)"
        />
        <p-menu
          #repostMenu popup
          [model]="repostMenuItems"
          appendTo="body"
          class="msky-text-body block"
        />

        @if (post.repostCount) {
          <span
            class="msky-text-caption leading-none"
          >
            {{ post.repostCount | numberFormatter }}
          </span>
        }
      </div>

      <div
        class="flex flex-1 max-w-[4.5rem] items-center gap-1"
      >
        @if (post.viewer.like) {
          <ng-icon
            name="tablerHeartFill"
            [color]="'red'"
            (click)="deleteLike($event)"
          />
        } @else {
          <ng-icon
            name="tablerHeart"
            (click)="like($event)"
          />
        }
        @if (post.likeCount) {
          <span
            class="msky-text-caption leading-none"
          >
            {{ post.likeCount | numberFormatter }}
          </span>
        }
      </div>

      <div
        class="flex-0"
      >
        <ng-icon
          name="tablerDots"
          (click)="moreMenu.toggle($event); $event.stopPropagation()"
        />
        <p-menu
          #moreMenu popup
          [model]="moreMenuItems"
          appendTo="body"
          class="msky-text-body block"
        />
      </div>
    </div>

    <a
      [href]="post.uri | linkExtractor: post.author.handle"
      target="_blank"
      [title]="$any(post.record).createdAt | date: 'medium'"
      class="msky-text-caption hover:underline w-8 text-end leading-none"
      (click)="$event.stopPropagation()"
    >
      {{ $any(post.record).createdAt | dateFormatter }}
    </a>
  </div>
</ng-template>
