<div #base
  class="flex flex-col p-4 mb-2 msky-bg-dark-15 hover:msky-bg-dark-20"
  (click)="openPost($event)"
>
  @if (feedViewPost.reason) {
    <ng-container
      [ngTemplateOutlet]="reason"
      [ngTemplateOutletContext]="{reason: feedViewPost.reason}"
    />
  }
  @if (feedViewPost.reply) {
    <ng-container
      [ngTemplateOutlet]="reply"
      [ngTemplateOutletContext]="{reply: feedViewPost.reply}"
    />
  }

  <div
    class="flex w-full gap-4"
  >
    <div
      class="w-14 shrink-0"
    >
      <a #avatar
         [href]="'https://bsky.app/profile/' + feedViewPost.post().author.handle"
         (click)="openAuthor($event, feedViewPost.post().author.did)"
      >
        <img
          [src]="feedViewPost.post().author.avatar"
          alt="{{feedViewPost.post().author | displayName}}'s avatar"
        />
      </a>
    </div>

    <div
      class="flex flex-col flex-1 min-w-0"
    >
      <ng-container
        [ngTemplateOutlet]="header"
        [ngTemplateOutletContext]="{author: feedViewPost.post().author}"
      />

      <ng-container
        [ngTemplateOutlet]="record"
        [ngTemplateOutletContext]="{record: feedViewPost.post().record}"
      />

      @if (feedViewPost.post().embed) {
        <ng-container
          [ngTemplateOutlet]="embed"
          [ngTemplateOutletContext]="{embed: feedViewPost.post().embed}"
        />
      }

      <ng-container
        [ngTemplateOutlet]="buttons"
        [ngTemplateOutletContext]="{post: feedViewPost.post()}"
      />
    </div>

  </div>


</div>

<ng-template #reason
  let-reason="reason"
>
  <div
    class="flex items-center gap-3 mb-2 -mt-2 ml-11"
  >
    @if (reason | isFeedDefsReasonRepost) {
        <ng-icon
          name="tablerRepeat"
          class="text-[0.75rem]"
        />
        <span
          class="msky-text-caption fit-text"
        >
          Reposted by

          <a
            class="hover:underline font-semibold"
            [href]="'https://bsky.app/profile/' + reason.by.handle"
            (click)="openAuthor($event, reason.by.did)"
          >
            {{ reason.by | displayName }}
          </a>
        </span>
    }
    @else if (reason | isFeedDefsReasonPin) {
      <ng-icon
        name="tablerPin"
        class="text-[0.75rem]"
      />
      <span
        class="msky-text-caption"
      >
        Pinned post
      </span>
    }
  </div>
</ng-template>

<ng-template #reply
  let-reply="reply"
>
  <div
    class="flex items-center gap-3 mb-2 -mt-2 ml-11"
  >
    <ng-icon
      name="tablerArrowForward"
      class="text-[0.75rem]"
    />
    <span
      class="msky-text-caption fit-text"
    >
      @if (reply.parent | isFeedDefsNotFoundPost) {
        Replying to someone (not found)
      }
      @else if (reply.parent | isFeedDefsBlockedPost) {
        Replying to someone (blocked)
      }
      @else if (reply.parent | isFeedDefsPostView) {
        Replying to

        <a
          class="hover:underline font-semibold"
          [href]="'https://bsky.app/profile/' + reply.parent.author.handle"
          (click)="openAuthor($event, reply.parent.author.did)"
        >
          {{ reply.parent.author | displayName }}
        </a>
      }
    </span>
  </div>
</ng-template>

<ng-template #header
  let-author="author"
>
  <div #displayName
       class="flex w-fit max-w-full min-w-0 items-baseline gap-2"
  >
    @if (author.displayName?.trim().length) {
      <a
        [href]="'https://bsky.app/profile/' + author.handle"
        (click)="openAuthor($event, author.did)"
        class="msky-text-body text-[1rem] font-semibold fit-text shrink-1 grow-0 leading-none h-full hover:underline"
      >
        {{ author.displayName }}
      </a>
      <a
        [href]="'https://bsky.app/profile/' + author.handle"
        (click)="openAuthor($event, author.did)"
        class="msky-text-caption fit-text shrink-0 grow basis-0 min-w-0"
      >
        {{ '@' + author.handle }}
      </a>
    } @else {
      <a
        [href]="'https://bsky.app/profile/' + author.handle"
        (click)="openAuthor($event, author.did)"
        class="font-semibold hover:underline"
      >
        {{ '@' + author.handle }}
      </a>
    }
  </div>
</ng-template>

<ng-template #record
  let-record="record"
>
  @if ((record | isFeedPostRecord) && record.text.length) {
    <div #body
         class="mt-2"
    >
      <rich-text-display
        [text]="record.text"
        [facets]="record.facets"
        class="msky-text-body"
      />
    </div>
  }
</ng-template>

<ng-template #embed
  let-embed="embed"
>
  <div #content
       id="content"
       class="mt-4 flex flex-col peer/embed"
  >
    @if (embed | isEmbedImagesView) {
      <post-embed-images
        [embed]="embed"
        (onImgClick)="openImage(feedViewPost.post().uri, $event)"
      />
    }

    @if (embed | isEmbedVideoView) {
      <post-embed-video
        [embed]="embed"
        (click)="$event.stopPropagation()"
      />
    }

    @if (embed | isEmbedExternalView) {
      <post-embed-external
        [embed]="embed"
      />
    }

    @if (embed | isEmbedRecordView) {
      <post-embed-record
        [embed]="embed"
        (onEmbedClick)="onEmbedClick.emit($event)"
        (onImgClick)="openImage($event.uri, $event.index)"
      />
    }

    @if (embed | isEmbedRecordWithMediaView) {
      @if (embed.media | isEmbedImagesView) {
        <post-embed-images
          [embed]="embed.media"
          (onImgClick)="openImage(feedViewPost.post().uri, $event)"
        />
      }

      @if (embed.media | isEmbedVideoView) {
        <post-embed-video
          [embed]="embed.media"
          (click)="$event.stopPropagation()"
        />
      }

      @if (embed.media | isEmbedExternalView) {
        <post-embed-external
          [embed]="embed.media"
        />
      }

      <post-embed-record
        [embed]="embed.record"
        (onEmbedClick)="onEmbedClick.emit($event)"
        (onImgClick)="openImage($event.uri, $event.index)"
        class="block mt-4"
      />
    }
  </div>
</ng-template>

<ng-template #buttons
  let-post="post"
>
  <div #buttons
       class="w-full -mb-4 flex justify-between items-center mt-3 peer-[]/embed:mt-0"
  >
    <div
      class="flex flex-1"
    >
      <div
        class="flex-1"
      >
        <button
          class="flex gap-1 items-center p-3 hover:msky-bg-dark-15"
          (click)="replyPost(post, $event)"
        >
          <ng-icon
            name="tablerMessage"
            class="text-[18px]"
          />
          @if (post.replyCount) {
            <span
              class="msky-text-caption leading-none text-rg"
            >
            {{ post.replyCount | numberFormatter }}
          </span>
          }
        </button>
      </div>
      <div
        class="flex-1"
      >
        <button
          class="relative flex gap-1 items-center p-3 hover:msky-bg-dark-15"
          [class.msky-bg-dark-15]="repostMenu.visible"
          (click)="openRepostMenu(repostMenu, $event)"
        >
          <ng-icon
            name="tablerRepeat"
            class="text-[18px]"
            [color]="post.viewer.repost ? 'var(--green-rt)' : undefined"
          />
          <ng-icon #rtAnim
            name="tablerRepeat"
            [color]="post.viewer.repost ? 'var(--green-rt)' : undefined"
            class="absolute text-[18px] opacity-0"
          />

          @if (post.repostCount) {
            <span
              class="msky-text-caption leading-none text-rg"
            >
              {{ post.repostCount | numberFormatter }}
            </span>
          }
        </button>

        <p-menu
          #repostMenu popup
          [model]="repostMenuItems"
          appendTo="body"
          class="msky-text-body block"
        />
      </div>

      <div
        class="flex-1"
      >
        <button
          class="relative flex gap-1 items-center p-3 hover:msky-bg-dark-15"
          (click)="post.viewer.like ? deleteLike($event) : like($event)"
          [disabled]="processingAction"
        >
          <ng-icon
            [name]="post.viewer.like ? 'tablerHeartFill' : 'tablerHeart'"
            [color]="post.viewer.like ? 'var(--red-like)' : undefined"
            class="text-[18px]"
          />
          <ng-icon #likeAnim
            [name]="post.viewer.like ? 'tablerHeartFill' : 'tablerHeart'"
            [color]="post.viewer.like ? 'var(--red-like)' : undefined"
            class="absolute text-[18px] opacity-0"
          />
          @if (post.likeCount) {
            <span
              class="msky-text-caption leading-none text-rg"
            >
            {{ post.likeCount | numberFormatter }}
          </span>
          }
        </button>
      </div>

      <div
        class="flex-0"
      >
        <button
          class="relative flex items-center p-3 hover:msky-bg-dark-15"
          [class.msky-bg-dark-15]="moreMenu.visible"
          (click)="moreMenu.toggle($event); $event.stopPropagation()"
        >
          <ng-icon
            name="tablerDots"
            class="text-[18px]"
          />
        </button>
        <p-menu
          #moreMenu popup
          [model]="moreMenuItems"
          appendTo="body"
          class="msky-text-body block"
        />
      </div>
    </div>

    <div
      class="w-10 flex justify-end"
    >
      <a
        [href]="post.uri | linkExtractor: post.author.handle"
        target="_blank"
        [title]="$any(post.record).createdAt | date: 'medium'"
        class="msky-text-caption hover:underline w-fit leading-none"
        (click)="$event.stopPropagation()"
      >
        {{ $any(post.record).createdAt | dateFormatter }}
      </a>
    </div>
  </div>
</ng-template>
