<div class="flex flex-col h-full gap-2">
  <div
    class="h-12 w-full relative shrink-0 leading-[100%] flex items-center group"
  >
    <ng-icon
      name="tablerHome"
      class="shrink-0 text-[2rem] !w-14 text-[#D8E3EC]"
    />

    <span
      class="w-full min-w-0 group-hover:w-[calc(100%_-_11.75rem)] transition-[width_100_ease-out] msky-text-white text-[2.25rem] font-light [text-box:trim-both_cap_alphabetic] whitespace-nowrap text-ellipsis overflow-x-clip overflow-y-visible"
      [class]="openSettings() ? '!w-[calc(100%_-_11.75rem)]' : undefined"
    >
      {{ 'home' }}
    </span>

    <div
      class="absolute flex top-0 right-0"
    >
      <button
        class="flex items-center p-2 hover:msky-bg-dark-15 transition-[opacity_100_ease-out] opacity-0 disabled:pointer-events-none group-hover:opacity-100 disabled:group-hover:opacity-25"
        [class]="openSettings() ? 'opacity-100 disabled:opacity-25' : undefined"
        (click)="reorder.emit({previousIndex: column().index, newIndex: column().index - 1})"
        [disabled]="column().index == 0"
        pRipple
      >
        <ng-icon
          name="tablerChevronLeft"
          class="text-[1.75rem]"
        />
      </button>
      <button
        class="flex items-center p-2 hover:msky-bg-dark-15 transition-[opacity_100_ease-out] opacity-0 disabled:pointer-events-none group-hover:opacity-100 disabled:group-hover:opacity-25"
        [class]="openSettings() ? 'opacity-100 disabled:opacity-25' : undefined"
        (click)="reorder.emit({previousIndex: column().index, newIndex: column().index + 1})"
        [disabled]="lastIndex()"
        pRipple
      >
        <ng-icon
          name="tablerChevronRight"
          class="text-[1.75rem]"
        />
      </button>
      <button
        class="flex items-center p-2 hover:msky-bg-dark-15 transition-[opacity_100_ease-out] opacity-0 group-hover:opacity-100"
        [class]="openSettings() ? 'opacity-100 msky-bg-dark-15' : undefined"
        (click)="openSettings.set(!openSettings())"
        pRipple
      >
        <ng-icon
          name="tablerSettings"
          class="text-[1.75rem]"
        />
      </button>
    </div>
  </div>

  <div
    class="flex flex-col min-h-0 flex-1"
  >
    <div
      class="flex flex-col max-h-[calc(100%_-_5rem)] overflow-hidden [interpolate-size:allow-keywords] transition-[height] ease-out"
      [class]="openSettings() ? 'h-auto pb-4' : 'h-0'"
    >
      <div
        class="flex items-end"
      >
        <label
          class="ui-floatlabel flex-1"
        >
          <span>
            Custom title
            <span
              class="font-light msky-text-darkwhite text-[14px]"
            >
              (empty for default)
            </span>
          </span>
          <input #titleInput
                 [ngModel]="column().title"
                 (keydown.enter)="titleInput.value !== column().title ? updateTitle(titleInput.value) : undefined"
                 class="ui-input"
          />
        </label>
        <button
          class="ui-button-rg w-9 !p-0 flex items-center justify-center"
          [disabled]="titleInput.value == column().title"
          (click)="updateTitle(titleInput.value)"
        >
          <ng-icon
            name="tablerDeviceFloppy"
          />
        </button>
      </div>

      <div
        class="mt-8"
      >
        <button
          class="ui-button-danger-rg flex items-center gap-1"
          (click)="delete.emit()"
        >
          <ng-icon
            name="tablerTrash"
            class="text-[1.25rem] -ml-1"
          />
          Delete column
        </button>
      </div>
    </div>

    <timeline-feed
      class="min-h-0 flex-1"
    />
  </div>
</div>
