@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import '@angular/cdk/overlay-prebuilt.css';
@layer tailwind-base, primeng, tailwind-utilities;
@layer tailwind-base {
  @tailwind base;
}
@layer primeng;
@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

:root, body {
  //font-family: "Open Sans", sans-serif;
  //--font-sans: '';
  height: 100%;
  padding: 0;
  margin: 0;

  background-color: #000;
  color: rgba(207, 255, 255, 0.9);
  font-size: 16px;

  $metro-dark-background: #0A0A0B;
  $metro-dark-surface: #0F0F10;
  $metro-dark-secondary: #131416;
  $metro-dark-secondary-stroke: #1B1F22;
  $metro-dark-secondary-hover: #1B1F22;
  $metro-dark-surface-content: #FFFFFF;
  $metro-dark-link: #66B2FF;
  $metro-dark-primary: #0066CC;
  $metro-dark-primary-hover: #0073E5;
  $metro-dark-success: #12A159;
  $metro-dark-warn: #CC9833;
  $metro-dark-danger: #B8144B;

  .bg-dark-background {
    background-color: $metro-dark-background;
  }
  .bg-dark-surface {
    background-color: $metro-dark-surface;
  }
  .bg-dark-secondary {
    background-color: $metro-dark-secondary;
  }

  .video-js {
    .vjs-control-bar {
      background: linear-gradient(to top, rgba(43,51,63,0.7), transparent);
    }

    > .vjs-remaining-time {
      height: 0;
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 0.75rem;
      font-family: 'Open Sans', sans-serif;
      opacity: 0;
    }

    &.vjs-user-inactive .vjs-remaining-time {
      height: 2rem;
      opacity: 1;
      transition: 1.5s opacity ease;
    }
  }

  * {
    scrollbar-color: rgba(255,255,255,0.5) transparent;
  }

  button.ui-button {
    &, &-rg, &-lg {
      border: medium none;
      border-spacing: 0;
      list-style: none outside none;
      margin: 0;
      text-align: center;
      text-decoration: none;
      text-indent: 0;

      background: rgba(255,255,255,0.2);
      font-weight: 300;
      color: rgba(255,255,255,0.85);

      &:hover, &:focus, &:focus-visible {
        background: rgba(255,255,255,0.3);
        outline: none;
      }

      &:disabled {
        opacity: 0.3;
        pointer-events: none;
      }
    }

    &-rg {
      padding: 0 1rem;
      height: 2.25rem;
    }

    &-lg {
      padding: 0 1rem;
      height: 2.5rem;
    }
  }
}

.app-container{
  display: block;
  width: 100%;
  height: 100%;

  background-image: url("../public/bg.webp");
  background-size: cover;
}

@mixin custom-dialog {
  :host(::ng-deep p-dynamicdialog) .inner-dialog {
    position: absolute !important;
    --p-dialog-header-padding: 0;
    --p-dialog-content-padding: 0;
    --p-dialog-footer-padding: 0;
    --p-dialog-header-gap: 0;
    --p-dialog-footer-gap: 0;
    --p-dialog-shadow: none;

    .p-dialog {
      border: 0;
      max-height: 100%;
      max-width: 100%;
      height: 100%;
      width: 100%;
      background: transparent;

      .p-dialog-content {
        overflow-y: hidden;
      }
    }
  }

  :host(::ng-deep p-dynamicdialog) .full-dialog {
    position: absolute !important;
    --p-dialog-header-padding: 0;
    --p-dialog-content-padding: 0;
    --p-dialog-footer-padding: 0;
    --p-dialog-header-gap: 0;
    --p-dialog-footer-gap: 0;
    --p-dialog-shadow: 0 0 25px rgba(0,0,0,0.3);

    .p-dialog {
      border: 0;
      background: #002047;
      max-height: fit-content;

      .p-dialog-content {
        overflow-y: hidden;
        height: 90%;

        &:has(author-view-dialog) {
          max-height: 60rem;
        }
      }
    }
  }
}
