@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import '@angular/cdk/overlay-prebuilt.css';
@layer tailwind-base, primeng, tailwind-utilities;
@layer tailwind-base {
  @tailwind base;
}
@layer primeng;
@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

:root, body {
  //font-family: "Open Sans", sans-serif;
  //--font-sans: '';
  height: 100%;
  padding: 0;
  margin: 0;

  background-color: #000;
  color: rgba(255, 255, 255, 0.85);
  font-size: 16px;
  line-height: 120%;

  $metro-dark-background: #0A0A0B;
  $metro-dark-surface: #0F0F10;
  $metro-dark-secondary: #131416;
  $metro-dark-secondary-stroke: #1B1F22;
  $metro-dark-secondary-hover: #1B1F22;
  $metro-dark-surface-content: #FFFFFF;
  $metro-dark-link: #66B2FF;
  $metro-dark-primary: #0066CC;
  $metro-dark-primary-hover: #0073E5;
  $metro-dark-success: #12A159;
  $metro-dark-warn: #CC9833;
  $metro-dark-danger: #B8144B;

  .bg-dark-background {
    background-color: $metro-dark-background;
  }
  .bg-dark-surface {
    background-color: $metro-dark-surface;
  }
  .bg-dark-secondary {
    background-color: $metro-dark-secondary;
  }

  .video-js {
    .vjs-control-bar {
      background: linear-gradient(to top, rgba(43,51,63,0.7), transparent);
    }

    > .vjs-remaining-time {
      height: 0;
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 0.75rem;
      font-family: 'Open Sans', sans-serif;
      opacity: 0;
    }

    &.vjs-user-inactive .vjs-remaining-time {
      height: 2rem;
      opacity: 1;
      transition: 1.5s opacity ease;
    }
  }
}

.app-container{
  display: block;
  width: 100%;
  height: 100%;

  background-image: url("/bg.webp");
  background-size: cover;
}
