<div #base
  id="base"
  class="flex flex-col bg-dark-background p-4 mb-2 cursor-pointer"
  (click)="openPost($event)"
>
  @if (feedViewPost.reason) {
    <ng-container
      [ngTemplateOutlet]="reason"
      [ngTemplateOutletContext]="{reason: feedViewPost.reason}"
    />
  }
  @if (feedViewPost.reply) {
    <ng-container
      [ngTemplateOutlet]="reply"
      [ngTemplateOutletContext]="{reply: feedViewPost.reply}"
    />
  }

  <ng-container
    [ngTemplateOutlet]="header"
    [ngTemplateOutletContext]="{author: feedViewPost.post().author}"
  />

  <ng-container
    [ngTemplateOutlet]="record"
    [ngTemplateOutletContext]="{record: feedViewPost.post().record}"
  />

  @if (feedViewPost.post().embed) {
    <ng-container
      [ngTemplateOutlet]="embed"
      [ngTemplateOutletContext]="{embed: feedViewPost.post().embed}"
    />
  }

  <div #buttons
    class="h-5 w-full mt-4 flex justify-between items-center buttons"
  >
    <div
      class="flex shrink-0 grow"
    >
      <div
        class="flex-1"
      >
        <ng-icon name="tablerMessage"/>
        @if (feedViewPost.post().replyCount) {
          <span
            class="msky-text-caption ml-0.5"
          >
            {{ feedViewPost.post().replyCount | numberFormatter }}
          </span>
        }
      </div>
      <div
        class="flex-1"
      >
        @if (feedViewPost.post().viewer.repost) {
          <ng-icon
            name="tablerRepeat"
            [color]="'green'"
            (click)="deleteRepost($event)"
          />
        } @else {
          <ng-icon
            name="tablerRepeat"
            (click)="repost($event)"
          />
        }
        @if (feedViewPost.post().repostCount) {
          <span
            class="msky-text-caption ml-0.5"
          >
            {{ feedViewPost.post().repostCount | numberFormatter }}
          </span>
        }
      </div>
      <div
        class="flex-1"
      >
        @if (feedViewPost.post().viewer.like) {
          <ng-icon
            name="tablerHeartFill"
            [color]="'red'"
            (click)="deleteLike($event)"
          />
        } @else {
          <ng-icon
            name="tablerHeart"
            (click)="like($event)"
          />
        }
        @if (feedViewPost.post().likeCount) {
          <span
            class="msky-text-caption ml-0.5"
          >
            {{ feedViewPost.post().likeCount | numberFormatter }}
          </span>
        }
      </div>
      <div
        class="flex-1"
      >
        <ng-icon
          name="tablerDots"
          (click)="menu.toggle($event); $event.stopPropagation()"
        />
        <p-menu
          #menu popup
          [model]="postMenuItems"
          appendTo="body"
          class="msky-text-body"
          styleClass="tablerDots"
        />
      </div>
    </div>

    <a
      [href]="feedViewPost.post().uri | linkExtractor: feedViewPost.post().author.handle"
      target="_blank"
      [title]="$any(feedViewPost.post().record).createdAt | date: 'medium'"
      class="msky-text-caption text-link w-8 text-end"
      (click)="$event.stopPropagation()"
    >
      {{ $any(feedViewPost.post().record).createdAt | dateFormatter }}
    </a>
  </div>
</div>

<ng-template #reason
  let-reason="reason"
>
  @if (reason | isFeedDefsReasonRepost) {
    <div
      class="flex items-center mb-2"
      style="margin-top: -0.5rem"
    >
      <ng-icon
        name="tablerRepeat"
        style="height: 0.75rem"
      />
      <span
        class="msky-text-caption ml-1"
      >
        Reposted by

        <a
          class="text-link font-semibold"
          [href]="'https://bsky.app/profile/' + reason.by.handle"
          (click)="openAuthor($event)"
        >
          {{ reason.by | displayName }}
        </a>
      </span>
    </div>
  }

  @if (reason | isFeedDefsReasonPin) {
    <div
      class="flex items-center mb-2"
      style="margin-top: -0.5rem"
    >
      <ng-icon
        name="tablerPin"
        style="height: 0.75rem"
      />
      <span
        class="msky-text-caption ml-1"
      >
        Pinned post
      </span>
    </div>
  }
</ng-template>

<ng-template #reply
  let-reply="reply"
>
  @if (reply.parent | isFeedDefsNotFoundPost) {
    <div
      class="flex items-center mb-2"
      style="margin-top: -0.5rem"
    >
      <ng-icon
        name="tablerArrowForward"
        style="height: 0.75rem"
      />
      <span
        class="msky-text-caption ml-1"
      >
        Replying to someone (not found)
      </span>
    </div>
  }
  @if (reply.parent | isFeedDefsBlockedPost) {
    <div
      class="flex items-center mb-2"
      style="margin-top: -0.5rem"
    >
      <ng-icon
        name="tablerArrowForward"
        style="height: 0.75rem"
      />
      <span
        class="msky-text-caption ml-1"
      >
        Replying to someone (blocked)
      </span>
    </div>
  }
  @if (reply.parent | isFeedDefsPostView) {
    <div
      class="flex items-center mb-2"
      style="margin-top: -0.5rem"
    >
      <ng-icon
        name="tablerArrowForward"
        style="height: 0.75rem"
      />
      <span
        class="msky-text-caption ml-1"
      >
        Replying to

        <a
          class="text-link font-semibold"
          [href]="'https://bsky.app/profile/' + reply.parent.author.handle"
          (click)="openAuthor($event)"
        >
          {{ reply.parent.author | displayName }}
        </a>
      </span>
    </div>
  }
</ng-template>

<ng-template #header
  let-author="author"
>
  <div
    id="header"
    class="flex gap-4"
  >
    <a #avatar
       [href]="'https://bsky.app/profile/' + author.handle"
       (click)="openAuthor($event)"
       class="shrink-0"
    >
      <img
        [src]="author.avatar"
        class="h-10"
      />
    </a>
    <div #displayName
         class="flex flex-col w-full justify-between min-w-0"
    >
      @if (author.displayName.trim().length) {
        <a
          [href]="'https://bsky.app/profile/' + author.handle"
          (click)="openAuthor($event)"
          class="w-fit font-semibold text-link fit-text"
        >
          {{ author.displayName }}
        </a>
        <a
          [href]="'https://bsky.app/profile/' + author.handle"
          (click)="openAuthor($event)"
          class="w-fit msky-text-caption fit-text"
        >
          {{ '@' + author.handle }}
        </a>
      } @else {
        <a
          [href]="'https://bsky.app/profile/' + author.handle"
          (click)="openAuthor($event)"
          class="w-fit font-semibold fit-text"
        >
          {{ '@' + author.handle }}
        </a>
      }
    </div>
  </div>
</ng-template>

<ng-template #record
  let-record="record"
>
  @if (record | isFeedPostRecord) {
    <div #body
         class="mt-3"
    >
      <span class="msky-text-body">
        {{ record.text }}
      </span>
    </div>
  }
</ng-template>

<ng-template #embed
  let-embed="embed"
>
  <div #content
       id="content"
       class="mt-3"
  >
    @if (embed | isEmbedImagesView) {
      <post-embed-images
        [embed]="embed"
        (onImgClick)="openDialog($event)"
      />
    }

    @if (embed | isEmbedVideoView) {
      <post-embed-video
        [embed]="embed"
      />
    }

    @if ((embed | isEmbedRecordView) || (embed | isEmbedRecordWithMediaView)) {
      <post-embed-record
        [embed]="embed"
      />
    }

    @if (embed | isEmbedExternalView) {
      <post-embed-external
        [embed]="embed"
      />
    }
  </div>
</ng-template>
