<div
  class="flex h-full justify-between gap-4 p-2"
>
  <div
    class="grow basis-0 flex justify-end"
  >
    @for (embed of embedSuggestions() | slice : 0 : 1; track embed) {
      <ng-container
        [ngTemplateOutlet]="embedButton"
        [ngTemplateOutletContext]="{embed: embed}"
      />
    }

    @let mediaEmbed = postCompose().mediaEmbed();
    @if (mediaEmbed | isMediaEmbedImage) {
      <div
        class="flex flex-row gap-2"
      >
        @for (image of mediaEmbed.images; track $index) {
          <a
            class="cursor-pointer relative group"
            (click)="removeImage($index)"
          >
            <img
              [src]="image.data"
              class="h-24 w-24 object-cover hover:brightness-75"
            />
            <ng-icon
              name="tablerCircleX"
              color="rgba(255,255,255,0.85)"
              class="absolute top-0 left-0 !h-full !w-full scale-50 pointer-events-none opacity-0 group-hover:opacity-100"
            />
          </a>
        }
      </div>
    }
    @else if (mediaEmbed | isMediaEmbedVideo) {
      <img
        [src]="mediaEmbed.thumbnail"
        class="h-10 w-10 object-cover"
      />
    }
    @else if (mediaEmbed | isMediaEmbedExternal) {
      <post-embed-external-preview
        [embed]="mediaEmbed"
        class="block h-32 w-48"
      />
    }
  </div>

  <div
    class="flex flex-col gap-2"
  >
    @if (postCompose().reply()) {
      <span
        class="msky-text-body"
      >
        Replying to <b>{{ postCompose().reply().author | displayName }}</b>
      </span>
    }
    <p-editor
      [modules]="{mention: mentionConfig}"
      [formats]="['bold', 'mention']"
      (onInit)="onEditorInit($event)"
      styleClass="w-[30rem] h-32"
    />
  </div>
  <div
    class="flex flex-col-reverse gap-3 items-center"
  >
    <p-button
      (onClick)="onPublishPost.emit(text)"
    >
      Post
    </p-button>
    @if (loading) {
      <ng-icon
        name="tablerLoader2"
        class="text-[2rem] animate-spin"
      />
    }
  </div>
  <div
    class="grow basis-0"
  >
    @if (postCompose().recordEmbed()) {
      <post-embed-record
        [embed]="$any({$type: 'app.bsky.embed.record#view', record: postCompose().recordEmbed()})"
      />
    }
  </div>
</div>

<ng-template #embedButton
  let-embed="embed"
>
  @if (embed.type == 'RECORD' && !postCompose().recordEmbed()) {
    @switch (embed.recordType) {
      @case ('POST') {
        Quote post
      }
      @case ('FEED') {
        Embed feed
      }
      @case ('LIST') {
        Embed list
      }
      @case ('STARTER_PACK') {
        Embed starter pack
      }
    }
  }
  @if (embed.type == 'EXTERNAL' && !postCompose().mediaEmbed()) {
    <p-button
      (click)="embedLink()"
    >
      Embed link
    </p-button>
  }

</ng-template>
