:host(::ng-deep p-editor) {
  --p-editor-content-border-color: none;
  --p-editor-content-background: #fff;
  --p-editor-content-color: #262626;

  .p-editor-toolbar {
    display: none;
  }

  .ql-editor {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    border-radius: 0 !important;
  }
}

:host(::ng-deep post-embed-record) #base {
  background: rgba(255,255,255,0.20);
}
