<div
  class="flex h-full justify-center gap-4"
>
  <div
    class="flex flex-col gap-2"
  >
    @if (reply) {
      <span
        class="msky-text-body"
      >
        Replying to <b>{{ reply().author | displayName }}</b>
      </span>
    }
    <p-editor
      [modules]="{mention: mentionConfig}"
      styleClass="w-[30rem] h-32"
      (onInit)="onEditorInit($event)"
      (onTextChange)="onTextChange($event)"
    />
  </div>
  <div
    class="flex flex-col-reverse gap-3 items-center"
  >
    <p-button
      (onClick)="onCreatePost.emit(text)"
    >
      Post
    </p-button>
    @if (loading) {
      <ng-icon
        name="tablerLoader2"
        class="text-[2rem] animate-spin"
      />
    }
  </div>
</div>
