<div
  class="flex h-full justify-between gap-4 p-2"
>
  <div
    class="grow basis-0"
  >
    @for (embed of embedSuggestions | slice : 0 : 1; track embed) {
      <ng-container
        [ngTemplateOutlet]="embedButton"
        [ngTemplateOutletContext]="{embed: embed}"
      />
    }

    @if (mediaEmbed) {
      @if (mediaEmbed | isMediaEmbedImage) {
        <span>Embedding images</span>
        <div
          class="flex flex-row justify-end gap-2"
        >
        @for (item of mediaEmbed.images; track $index) {
          <a
            class="cursor-pointer relative group"
            (click)="removeImage($index)"
          >
            <img
              [src]="item.thumbnail"
              class="h-24 w-24 object-cover hover:brightness-75"
            />
            <ng-icon
              name="tablerCircleX"
              color="rgba(255,255,255,0.85)"
              class="absolute top-0 left-0 !h-full !w-full scale-50 pointer-events-none opacity-0 group-hover:opacity-100"
            />
          </a>
        }
        </div>
      }
      @else if (mediaEmbed | isMediaEmbedVideo) {
        <img
          [src]="mediaEmbed.thumbnail"
          class="h-10 w-10 object-cover"
        />
      }
      @else if (mediaEmbed | isMediaEmbedExternal) {

      }
    }
  </div>
  <div
    class="flex flex-col gap-2"
  >
    @if (reply) {
      <span
        class="msky-text-body"
      >
        Replying to <b>{{ reply.author | displayName }}</b>
      </span>
    }
    <p-editor
      [modules]="{mention: mentionConfig}"
      [formats]="['bold', 'mention']"
      (onInit)="onEditorInit($event)"
      styleClass="w-[30rem] h-32"
    />
  </div>
  <div
    class="flex flex-col-reverse gap-3 items-center"
  >
    <p-button
      (onClick)="onCreatePost.emit({text, recordEmbed, mediaEmbed})"
    >
      Post
    </p-button>
    @if (loading) {
      <ng-icon
        name="tablerLoader2"
        class="text-[2rem] animate-spin"
      />
    }
  </div>
  <div
    class="grow basis-0"
  >

  </div>
</div>

<ng-template #embedButton
  let-embed="embed"
>
  <p-button>
    @if (embed.type == 'RECORD' && !recordEmbed) {
      @switch (embed.recordType) {
        @case ('POST') {
          Quote post
        }
        @case ('FEED') {
          Embed feed
        }
        @case ('LIST') {
          Embed list
        }
        @case ('STARTER_PACK') {
          Embed starter pack
        }
      }
    }
    @if (embed.type == 'EXTERNAL' && !mediaEmbed) {
      Embed link
    }
  </p-button>
</ng-template>
